<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaskScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TaskScheduler.Properties.Settings.LocalConnectionString"
      connectionString="Server=.;Persist Security Info=False;Integrated Security=true;Initial Catalog=Task;" />
    <add name="TaskScheduler.Properties.Settings.ServerConnectionString"
      connectionString="Server=.;Persist Security Info=False;Integrated Security=true;Initial Catalog=Task;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.5.4.0" newVersion="106.5.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <TaskScheduler.Properties.Settings>
      <setting name="SettingFileName" serializeAs="String">
        <value>TaskSchedulerSetting.json</value>
      </setting>
      <setting name="HangfireDbScript" serializeAs="String">
        <value>App_Data.installHangfireDatabase.sql</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>8002</value>
      </setting>
    </TaskScheduler.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="smsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://185.12.102.64:8080/WebService/sms.asmx" binding="basicHttpBinding" bindingConfiguration="smsSoap" contract="GamamnSmsService.smsSoap" name="smsSoap" />
    </client>
  </system.serviceModel>
</configuration>