<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="e:\taaghche\logs\internalLog\probes.log">
  <!--Self Nlog errors-->

  <variable name="basedir" value="e:\taaghche\logs\probes" />
  <variable name="naming" value="${date:format=yyyy-MM-dd}.log" />

  <variable name="logFatalPath" value="${basedir}\Fatal\${naming}" />
  <variable name="mainLogPath" value="${basedir}\${naming}" />

  <variable name="fmt" value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${level:lowercase=true} st newsletterService[${correlation-id}] ||| ${message} ${onexception:inner=${replace-newlines:${exception:format=tostring}}}" />

  <targets async="true">
    <default-target-parameters xsi:type="File" encoding="utf-8" layout="${fmt}" />
    <target name="asyncLogFatal" fileName="${logFatalPath}" xsi:type="File" />
    <target name="asyncLog" fileName="${mainLogPath}" xsi:type="File" />
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${correlation-id} - ${longdate}|${message}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="White" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Magenta" backgroundColor="Black"/>
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    <logger name="*" minlevel="Fatal" writeTo="asyncLogFatal" />
    <logger name="*" minlevel="Trace" writeTo="asyncLog" />
    <logger name="*" minlevel="Info" writeTo="asyncLog" />
    <logger name="*" minlevel="Error" writeTo="asyncLog" />
  </rules>
</nlog>